<script type="text/javascript">
	$('#highscoreBtn').click(function() {
    	document.getElementById("high").style.display="block";
  		document.getElementById("chat").style.display="none";
	});
	$('#chatBtn').click(function() {
    	document.getElementById("high").style.display="none";
  		document.getElementById("chat").style.display="block";
  		$("#messagesDiv").scrollTop($("#messagesDiv")[0].scrollHeight);
	});
</script>


<script src="js/chat.js"></script>

<div id="sidebar">
	<button id="highscoreBtn">Highscore</button>
	<button id="chatBtn">Chat</button>
	
	<div id="high" style="display:block;">
		<div id="userScore">
			<p>{{myScore()}}</p>
			<p>{{beatenEnemies()}}</p>
		</div>


<!-- 		<div id="highscoreList">
			<table id="leaderboardTable">
			    <tr>
			      <th>Player</th>
			      <th>Score</th>
			    </tr>
			</table>
		</div> -->


	</div>

	<div id="chat" style="display:none;">
<!-- 		  <div class='example-chat-toolbar'>
		    <label for="nameInput"></label>
		    <input type='text' id='nameInput' placeholder='Enter name...'>
		  </div>

		  	<ul id='example-messages' class="example-chat-messages"></ul>

		  <footer>
		    <input type='text' id='messageInput'  placeholder='Type a message...'>
		  </footer> -->

		<div id='messagesDiv'>
		</div>

		<div id="chatInput">
	    	<input type='text' id='nameInput' placeholder='Name'>
	    	<textarea rows="2" cols="45" id='messageInput' placeholder='Message'/>
		</div>
	</div>

</div>
