<script type="text/javascript">
	$('#highscoreBtn').click(function() {
    	document.getElementById("high").style.display="block";
  		document.getElementById("chat").style.display="none";
	});
	$('#chatBtn').click(function() {
    	document.getElementById("high").style.display="none";
  		document.getElementById("chat").style.display="block";
	});
</script>
<div id="sidebar">
	<button id="highscoreBtn">Highscore</button>
	<button id="chatBtn">Chat</button>
	<div id="high" style="display:block;">Hehhehhehehh</div>

	<div id="chat" style="display:none;">Blalalallala</div>
</div>

