<ng-include src="'partials/sidebar.html'" ng-controller="sideBarCtrl"></ng-include>

<div class="header">
	<p>BATMAN</p>
	<p style="font-size: 15px;">programming is fun</p>
	<input type="button" value="show sidebar" id="sidebutton" style="float: right;"></input>
</div>


<div id="container">
	<div id="characterinfo">
		<div id="leftinfo">
			<div id="imageinfo">
				<a ng-href="#/fight" type="button">
					<button id="fightbtn">FIGHT</button>
				</a>
				<img src="{{villain.image.small_url}}"/>
				<div id="info" >
					<div class="infotitle">ALIASES</div><div class="infoline">{{villain.aliases}}</div></br>
					<div class="infotitle">REAL NAME</div><div class="infoline" id="spoiled">{{villain.real_name}}</div>
				</div>
			</div>
		</div>
		<div id="description">
			<div id="name">{{villain.name}}</div>	
			<p>{{villain.deck}}</p>	
		</div>

	</div>


</div>


