<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css.css"/>
		<title>batman</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>

	function activateSideMenu(){
		console.log("activate");
		var button_status = document.getElementById("sidebutton");
		console.log("status", button_status);
		if (button_status.value=="show sidebar"){
			console.log("if");
			button_status.value = "hide sidebar";
			$("#sidebar").animate({
				width: 'toggle'
			});
			$("#container").animate({
				width: '70%'
			});
		}

		else{
			console.log("else");
			button_status.value = "show sidebar";
			$("#sidebar").animate({
				width: 'toggle'
			});
			$("#container").animate({
				width: '100%'
			});
		}
	}

	</script>


	</head>
	<body>

	<div class="header">
		<p>BATMAN</p>
		<p style="font-size: 15px;">programming is fun</p>
		<input onclick="activateSideMenu()" type="button" value="show sidebar" id="sidebutton" style="float: right;"></input>
	</div>


	<div id="container">	


		<div id="characterinfo" ng-repeat="a in getObj()">
			<div id="leftinfo">
				<div id="imageinfo">
					<button id="fightbtn">FIGHT</button>
					<img src="{{a.image.small_url}}">
					<div id="info" >
						<div class="infotitle">ALIASES</div><div class="infoline">{{a.aliases}}</div></br>
						<div class="infotitle">REAL NAME</div><div class="infoline" id="spoiled">{{a.real_name}}</div>
					</div>
				</div>
			</div>
			<div id="description">
				<div id="name">{{a.name}}</div>	
				<p>{{a.deck}}</p>			
			</div>

		</div>


	</div>


	<div id="sidebar">
		<p><bold>3 Defeated</bold></p>
		</br>
		<p>Mr Freeze</p>
		<p>Two Face</p>
		<p>Three Face</p>
	</div>

	</body>
</html>