<div class="header">
	<p>BATMAN</p>
	<p style="font-size: 15px;">Fuck you crime</p>
	<a id="backbutton" style="float:left;" ng-href="#/search"><span>Back</span></a>
</div>
<div id="side">
<input type="button" value="Show sidebar" id="sidebutton" class="nametag" style="position: relative; float: right; margin-top: -60px; margin-right:20px; border: none;"></input>
</div>
<ng-include src="'partials/sidebar.html'" ng-controller="sideBarCtrl"></ng-include>
<div id="container">
	<div id="characterinfo">
		<div id="leftinfo">
			<div id="imageinfo">
				<a ng-href="#/fight" type="button">
					<button class="fightbtn">FIGHT</button>
				</a>
				<img src="{{villain.image.small_url}}"/>
			</div>
		</div>
		<div id="description">
			<div id="name">{{villain.name}}</div>	
			<p>{{villain.deck}}</p>	
			<div id="info" >
					<div class="infotitle">ALIASES</div><div class="infoline">{{alias}}</div>
					<div class="infotitle">REAL NAME</div><div class="infoline" id="spoiled">{{real_name}}</div>
					<div class="infotitle">FIRST APPEARED IN</div><div class="infoline">{{villain.first_appeared_in_issue.name}}</div>
					<div class="infotitle">ORIGIN</div><div class="infoline">{{villain.origin.name}}</div>
		</div>
		</div>
	</div>
</div>

